*.php
*.txt

/includes
/misc
/modules
/profiles
/scripts
/themes
/sites/*/modules/contrib
/sites/all/themes
.htaccess
web.config

# Ignore configuration files that may contain sensitive information.
sites/*/settings*.php

# Ignore paths that contain user-generated content.
sites/*/files
sites/*/private
